.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.popup {
    background: #f8f9fa; 
    border-radius: 12px;
    padding: 25px;
    width: 500px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}


.search-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.search-input {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.search-btn {
    background: #e7a75c; 
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.search-btn:hover {
    background: #ecbc85;
}


.recipe-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.recipe-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.recipe-card:hover {
    background: #f1f1f1;
}

.recipe-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 5px;
}

.placeholder-text {
    font-style: italic;
    color: #666;
    margin-top: 20px;
}
