* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-image: url('/background_cleanup.png');
    /* background-color: #eae6de */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
  }
  
  .app {
    background-image: url('/app-background.png');
    background-size: 67%; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-color: #f1eee7;
    padding: 20px;
    border-radius: 12px;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
    min-height: 80vh;
    justify-content: center;
}

 