* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-image: url('/background_cleanup.png');
    /* background-color: #eae6de */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    box-sizing: border-box;
  }
  
  .app {
    background-image: url('/app-background.png');
    background-size: 67%; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-color: #f1eee7;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 100px auto 0;
    min-height: 80vh;
    justify-content: center;
}

.logout {
  position: fixed;
  top: 1rem;
  right: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color:  #ef9ea5;
  border: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  color: #333;
  transition: background 0.2s;
}

.logout:hover {
  background-color:#c65d60;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logout:active {
  top: 1.1rem;
  right: 1.4rem;
}

